* {
  margin: 0 auto;
  padding: 0;
    box-sizing: border-box;
  }
  h1 {
    font-style: normal;
   font-family: arial;
    color: rgb(0, 0, 0);
    font-size: 50px;
    max-width: calc(100% - 5rem);
    line-height: 4;
    font-weight: 10;
    text-align: center;
  }
  #menu-h{
list-style: none;
padding: 0;
  }
